.MainCenter {
  display: flex;
  flex-direction: column;
  /* keep it center so the table have full view */
  /* justify-content: space-evenly; */
  justify-content: center;
  /* border: 1px solid red; */
  gap: 10px;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  .MainCenter {
    justify-content: start;
    margin-top: 1rem;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .MainCenter {
    align-items: center;
    /* border: 1px solid green; */
    width: 70%;
  }
}
